In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
import xgboost as xgb
import lightgbm as lgb

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
def change_dow(x):
    if x == 'Mon':
        return 1
    if x == 'Tue':
        return 2
    if x == 'Wed':
        return 3
    if x == 'Thu':
        return 4
    if x == 'Fri':
        return 5
    if x == 'Sat':
        return 6
    if x == 'Sun':
        return 7

In [4]:
train_data.day_of_week = train_data.day_of_week.map(lambda x:change_dow(x))
test_data.day_of_week = test_data.day_of_week.map(lambda x:change_dow(x))

In [5]:
train_data.head(50)

,row_id,num_trips,month,day,hour,day_of_week,temp,temp_wb,rel_humidity,precipitation
0,1,16714,1,1,0,1,9,7,55,0.00
1,2,19041,1,1,1,1,9,7,55,0.00
2,5,8739,1,1,4,1,8,6,55,0.00
3,6,4229,1,1,5,1,7,5,57,0.00
4,9,3643,1,1,8,1,8,6,60,0.00
5,13,11627,1,1,12,1,15,11,40,0.00
6,16,13272,1,1,15,1,18,13,34,0.00
7,17,12551,1,1,16,1,18,13,35,0.00
8,18,12758,1,1,17,1,18,13,34,0.00
9,20,10456,1,1,19,1,17,13,39,0.00
10,21,8357,1,1,20,1,17,13,43,0.00
11,23,7904,1,1,22,1,16,13,54,0.00
12,25,3583,1,2,0,2,15,12,56,0.00
13,26,1724,1,2,1,2,15,12,53,0.00
14,27,1205,1,2,2,2,14,11,56,0.00
15,30,7050,1,2,6,2,13,11,59,0.00
16,31,10914,1,2,7,2,13,11,61,0.00
17,32,13732,1,2,8,2,14,11,58,0.00
18,35,12284,1,2,11,2,21,17,50,0.00
19,36,12901,1,2,12,2,23,19,48,0.00
20,38,14140,1,2,14,2,26,21,42,0.00
21,41,16015,1,2,17,2,24,19,46,0.00
22,42,17349,1,2,18,2,23,19,48,0.00
23,44,12371,1,2,20,2,20,16,52,0.00
24,45,11812,1,2,21,2,19,15,51,0.00
25,49,2614,1,3,1,3,19,15,47,0.00
26,51,1144,1,3,3,3,17,14,51,0.00
27,52,1368,1,3,4,3,17,13,49,0.00
28,54,7539,1,3,6,3,17,13,47,0.00
29,55,12073,1,3,7,3,17,13,45,0.00
30,56,15021,1,3,8,3,18,14,45,0.00
31,57,14828,1,3,9,3,19,15,41,0.00
32,58,13613,1,3,10,3,22,17,40,0.00
33,59,13473,1,3,11,3,25,19,37,0.00
34,60,13959,1,3,12,3,27,21,34,0.00
35,61,14262,1,3,13,3,29,22,28,0.00
36,62,15405,1,3,14,3,29,22,31,0.00
37,64,14598,1,3,16,3,28,22,37,0.00
38,65,17020,1,3,17,3,27,22,43,0.00
39,66,18909,1,3,18,3,27,21,37,0.00
40,67,17495,1,3,19,3,28,21,32,0.00
41,68,14808,1,3,20,3,29,24,47,0.00
42,71,8382,1,3,23,3,29,24,47,0.00
43,72,5356,1,4,0,4,28,22,39,0.00
44,73,2899,1,4,1,4,28,23,51,0.00
45,75,1294,1,4,3,4,28,22,43,0.00
46,76,1386,1,4,4,4,27,22,46,0.00
47,77,2259,1,4,5,4,24,22,81,0.01
48,78,5172,1,4,6,4,24,23,84,0.07
49,79,6975,1,4,7,4,24,23,84,0.08

In [6]:
test_data

,row_id,month,day,hour,day_of_week,temp,temp_wb,rel_humidity,precipitation
0,3,1,1,2,1,8,6,57,0.00
1,4,1,1,3,1,8,6,55,0.00
2,7,1,1,6,1,7,5,57,0.00
3,8,1,1,7,1,7,5,60,0.00
4,10,1,1,9,1,11,8,53,0.00
...,...,...,...,...,...,...,...,...,...
2606,8679,12,31,0,1,39,35,65,0.00
2607,8682,12,31,3,1,38,35,73,0.00
2608,8688,12,31,9,1,43,39,71,0.00
2609,8689,12,31,10,1,44,40,68,0.00
2610,8695,12,31,16,1,43,42,89,0.05

In [7]:
# predictors = [f for f in train_data.columns if f not in (['row_id','num_trips'])]

In [8]:
# params = {
#     'objective':'regression',
#     'metric': 'rmse',
#     'num_leaves':60,
#     'learning_rate':0.01,
#     'n_estimators':10000
# }

In [9]:
# lgb_train = lgb.Dataset(train_data[predictors], train_data['num_trips'])

In [10]:
# gbm = lgb.train(params,lgb_train,2300)
# pred = gbm.predict(test_data[predictors])

In [11]:
# predicted_train_y = gbm.predict(train_data[predictors])
# predicted_train_y = np.where(predicted_train_y<0, 0, predicted_train_y)

In [12]:
# # RMSLE score on training data
# print('RMSLE score on training data:', round(metrics.mean_squared_log_error(train_data['num_trips'], predicted_train_y, squared=False),3))
# # RMSE score on training data
# rmse = mean_squared_error(train_data['num_trips'], predicted_train_y, squared=False)
# print("MSE score on training data: {:.4f}".format(rmse))

In [13]:
# pred

In [14]:
# sub = pd.read_csv('sample_submission.csv')
# sub['num_trips'] = pred.tolist()
# sub['num_trips'] = sub['num_trips'].apply(np.ceil).astype(int)

In [15]:
# sub

In [16]:
# sub.to_csv(r'submission.csv', index=False)

In [17]:
X = train_data.iloc[:,2:10]
y = train_data.iloc[:,1]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=45)

## KNN

In [19]:
knn = KNeighborsRegressor(n_jobs=-1, n_neighbors=5, weights='distance')
knn.fit(X_train, y_train)

KNeighborsRegressor(n_jobs=-1, weights='distance')

In [24]:
y_pred_knn = knn.predict(X_test)
y_pred_knn = np.where(y_pred_knn<0, 0, y_pred_knn)

In [25]:
# RMSE score on training data for KNN
rmse = mean_squared_error(y_test, y_pred_knn, squared=False)
print("RMSE score on training data for KNN: {:.4f}".format(rmse))

RMSE score on training data for KNN: 2952.4405

## Gradient Boosting

In [26]:
# Parameters for Gradient Boosting Regressor
gb = GradientBoostingRegressor(learning_rate=0.2, 
                               random_state=3, 
                               n_estimators=180, 
                               subsample=0.78, 
                               max_depth=5)

# Train Gradient Boosting Regressor
gb.fit(X_train, y_train)

GradientBoostingRegressor(learning_rate=0.2, max_depth=5, n_estimators=180,
                          random_state=3, subsample=0.78)

In [27]:
# Predict using X_test in training dataset
y_pred_gb = gb.predict(X_test)
y_pred_gb = np.where(y_pred_gb<0, 0, y_pred_gb)

In [28]:
# RMSE score on training data for Gradient Boosting
rmse = mean_squared_error(y_test, y_pred_gb, squared=False)
print("RMSE score on training data for Gradient Boosting: {:.4f}".format(rmse))

RMSE score on training data for Gradient Boosting: 936.0324

## XGBoost

In [29]:
# Parameters for XGBRegressor
xgb = xgb.XGBRegressor()
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs =-1)
# Train XGBRegressor
xgb.fit(X_train, y_train)

AttributeError: 'XGBRegressor' object has no attribute 'XGBRegressor'

In [23]:
# Predict using X_test in training dataset
# y_pred_xgb = xgb.predict(X_test)
# y_pred_xgb = np.where(y_pred_xgb<0, 0, y_pred_xgb)

In [90]:
# RMSE score on training data for LightGBM
# rmse = mean_squared_error(y_test, y_pred_xgb, squared=False)
# print("RMSE score on training data for XGBoost: {:.4f}".format(rmse))

## LightGBM

In [30]:
# Parameters for LightGBM
lgbm_params = {'objective':'regression',
               'boosting_type': 'gbdt',
               'metric': 'rmse',
               'num_leaves':32,
               'learning_rate':0.01,
               'n_estimators':15000}

In [31]:
# Train LightGBM
lgb_train = lgb.Dataset(X_train, y_train)
lgbm = lgb.train(lgbm_params, lgb_train, 2300)

/Users/haoweisong/opt/anaconda3/lib/python3.9/site-packages/lightgbm/engine.py:148: UserWarning: Found `n_estimators` in params. Will use it instead of argument
  _log_warning("Found `{}` in params. Will use it instead of argument".format(alias))

[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000628 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 357
[LightGBM] [Info] Number of data points in the train set: 4872, number of used features: 8
[LightGBM] [Info] Start training from score 11666.007184

In [32]:
# Predict using X_test in training dataset
y_pred_lgbm = lgbm.predict(X_test)
y_pred_lgbm = np.where(y_pred_lgbm<0, 0, y_pred_lgbm)

In [33]:
# RMSE score on training data for LightGBM
rmse = mean_squared_error(y_test, y_pred_lgbm, squared=False)
print("RMSE score on training data for LightGBM: {:.4f}".format(rmse))

RMSE score on training data for LightGBM: 761.4135